*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #1e355e 0%, white 70%);
}

.Contenedor_datos_secretaria{
    height:70em;
    width: 70em;
    margin: 3em auto;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    
}

.secre-datos-contenedor{
    width: 80%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px solid #808080;
    padding-top: 0%;
    background-color: white;
    
}

.social_secretaria{
    width: 100%;
    justify-content: space-evenly;
}
.cajas_de_texto_secretaria{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #1e355e;
    padding: 2px;
}
.caja_texto{
    padding-left: 20px;
    border: #1e355e;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 0px;
    box-sizing: border-box;
    text-transform: uppercase;
}
.caja_texto:hover{
    border: 2px solid #1e355e;
}
.caja_texto,boton{
    width: 50%;
    height: 3.125rem;
    font-size: 1em;
    border-radius: 1px #1e355e;
}
.caja_texto_email{
    padding-left: 20px;
    border: #1e355e;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.caja_texto_email,boton{
    width: 50%;
    height: 3.125rem;
    font-size: 1em;
    border-radius: 1px #1e355e;
}
label{
    font : 1.3em "typewriter";
    color: white;
}
.Contenedor_ubicacion{
    max-width: 100%;
    text-align: center;
    background: white;
    color: #213860;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display: flex;
    font-size: large;
}
form{
    margin: 0 auto; /* Centramos el formulario */
    width: 500px;   /* Sin ancho no podemos centrar el formulario */
    background-color: #1e355e; /* Color blanco para el formulario */
    padding: 2px; /* separamos los bordes del form del resto de elementos */
    border-radius: 0px; /* Redondeamos los bordes del form */

}
.btn_guardar{
    margin-top: 10px; /* Damos un margen individual para el contenedor del botón */
    width: 25%;
    margin-right: 30%;
    background-color:#1e355e;
    border-radius: 10px;
    color: white;
    font-size: large;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}
.btn_cancelar {
    margin-top: -35px; /* Damos un margen individual para el contenedor del botón */
    width: 25%;
    margin-left: 30%;
    background-color:#1e355e;
    border-radius: 10px;
    color: white;
    font-size: large;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media (max-width:992px){
    .body{
        font-size: 16px;
    }
    .secre-datos-contenedor{
        width: 55%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 5px solid #808080;
        padding-top: 0%;
        background-color: white;
        transform: translate(-11%,-0%);
    }
    .Contenedor_ubicacion{
        text-align: center;
        background: white;
        color: #213860;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: center;
        display: flex;
        font-size: large;
        align-items: center;
        margin: auto;
    }
    .btn_guardar{
        margin-top: 40px; /* Damos un margen individual para el contenedor del botón */
        width: 25%;
        margin-right: 40%;
        background-color:#1e355e;
        border-radius: 5px;
        color: white;
        font-size: large;
        cursor: pointer;
        letter-spacing: 1px;
        text-transform: uppercase;
        
    }
    .btn_cancelar {
        margin-top: -24px; /* Damos un margen individual para el contenedor del botón */
        width: 25%;
        margin-left: 40%;
        background-color:#1e355e;
        border-radius: 5px;
        color: white;
        font-size: large;
        cursor: pointer;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .Contenedor_datos_secretaria{
        height:60em;
        width: 70em;
        margin: 1em auto;
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
        
    }
    .caja_texto,boton{
        width: 70%;
        height: 3.125rem;
        font-size: 1em;
        border-radius: 1px #1e355e;
    }
    .caja_texto_email,boton{
        width: 70%;
        height: 3.125rem;
        font-size: 1em;
        border-radius: 1px #1e355e;
    }
}
@media (max-width:758px) {
    .body{
        font-size: 16px;
    }
    .secre-datos-contenedor{
        width: 55%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 5px solid #808080;
        padding-top: 0%;
        background-color: white;
        transform: translate(-32%,-0%);
    }
    .Contenedor_ubicacion{
        text-align: center;
        background: white;
        color: #213860;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: center;
        display: flex;
        font-size: large;
        align-items: center;
        margin: auto;
    }
    .btn_guardar{
        margin-top: 40px; /* Damos un margen individual para el contenedor del botón */
        width: 25%;
        margin-right: 40%;
        background-color:#1e355e;
        border-radius: 5px;
        color: white;
        font-size: large;
        cursor: pointer;
        letter-spacing: 1px;
        text-transform: uppercase;
        
    }
    .btn_cancelar {
        margin-top: -24px; /* Damos un margen individual para el contenedor del botón */
        width: 25%;
        margin-left: 40%;
        background-color:#1e355e;
        border-radius: 5px;
        color: white;
        font-size: large;
        cursor: pointer;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .Contenedor_datos_secretaria{
        height:60em;
        width: 70em;
        margin: 1em auto;
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
        
    }
    .caja_texto,boton{
        width: 70%;
        height: 3.125rem;
        font-size: 1em;
        border-radius: 1px #1e355e;
    }
    .caja_texto_email,boton{
        width: 70%;
        height: 3.125rem;
        font-size: 1em;
        border-radius: 1px #1e355e;
    }
}
@media (max-width:600px){
    .body{
        font-size: 16px;
    }
    .secre-datos-contenedor{
        width: 43%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 5px solid #808080;
        padding-top: 0%;
        background-color: white;
        transform: translate(-60%,-0%);
    }
    .Contenedor_ubicacion{
        text-align: center;
        background: white;
        color: #213860;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: center;
        display: flex;
        font-size: large;
        align-items: center;
        margin: auto;
    }
    .btn_guardar{
        margin-top: 40px; /* Damos un margen individual para el contenedor del botón */
        width: 25%;
        margin-right: 40%;
        background-color:#1e355e;
        border-radius: 5px;
        color: white;
        font-size: large;
        cursor: pointer;
        letter-spacing: 1px;
        text-transform: uppercase;
        
    }
    .btn_cancelar {
        margin-top: -24px; /* Damos un margen individual para el contenedor del botón */
        width: 25%;
        margin-left: 40%;
        background-color:#1e355e;
        border-radius: 5px;
        color: white;
        font-size: large;
        cursor: pointer;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .Contenedor_datos_secretaria{
        height:60em;
        width: 70em;
        margin: 1em auto;
        display: flex;
        justify-content: space-evenly;
        overflow: hidden;
        
    }
    .caja_texto,boton{
        width: 70%;
        height: 3.125rem;
        font-size: 1em;
        border-radius: 1px #1e355e;
    }
    .caja_texto_email,boton{
        width: 70%;
        height: 3.125rem;
        font-size: 1em;
        border-radius: 1px #1e355e;
    }
}