*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.page-container{
    max-width: 700px;
    margin: 2rem auto;

}
body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to top, #1e355e 0%, white 150%);
    
    
}
.Contenedor_titulo{
    max-width: 100%;
    text-align: center;
    background: white;
    color: #213860;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: left;
    display: flex;
    
}
.contenedor_titulo_2{
    max-width: 100%;
    text-align: center;
    background: white;
    color: #213860;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display: flex;
}
.Contenedor_ubicacion{
    max-width: 100%;
    text-align: center;
    background: white;
    color: #213860;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    display: flex;
    font-size: large;
}
.contenedor_foto{
    width: 150px;
    height: 150px;
    align-items: center;
    border: 3px solid #1e355e; 
    transform: translate(400%,0%);
}
.contenedor-tabla{
    max-width: 100%;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    text-align: center;
    justify-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
 }
.table-cebra td{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 550px;
    height: 60px;
 }
 @media (max-width:992px){
    .contenedor_foto{
        transform: translate(270%,0%);
        border: 3px solid #1e355e; 
    }
 }
 @media (max-width:758px){
    .contenedor_foto{
        transform: translate(210%,0%);
        border: 3px solid #1e355e;
    }
 @media (max-width:600px){
    .contenedor_foto{
        transform: translate(80%,0%);
        border: 3px solid #1e355e; 
    }
 }  
 }


 
