body{ 
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    background-image: linear-gradient(to top, #1e355e 0%, white 60%);
} 

nav{
    max-width: 70%;
    margin: auto;
    background-color: #15469b;
    font-size: 20px;
    margin-top: none;
}  

.logo{ 
    height: 7em;
    width: 15em;
    display: flexs; 
    
} 

.nombre{ 
    height: 7em;
    width: 64em;
    margin: 0em 20em; 
    color: #1e355e;  
    text-align: center;   
    justify-content: space-between;
    overflow: hidden;
    display: flex;
}  

.titulo{
    height: 7em;
    width: 40em;
}

.conte{ 
    margin: 0.5em auto;
    display: flex;
    justify-content: space-between; 
    overflow: hidden; 
    text-align: center; 
    position: relative;
}

.contenedor-secretarias{
    height: 29em;
    width: 20em;
    margin: 0em auto;
    border: 2px solid #1e355e ; 
    justify-content: space-between;
    overflow: hidden;
    display: flex; 
    background-color: white; 
}  

.contenedor-imageS{
    height: 15em;
    width: 17em;
    margin: 0em auto; 
}  

.titulo{
    color: #1e355e;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.contenedor-maestros{
    height: 29em;
    width: 20em;
    margin: 0em auto;
    border: 2px solid #1e355e ; 
    justify-content: space-between;
    overflow: hidden;
    display: flex; 
    background-color: white;
}  

.contenedor-imageM{
    height: 15em;
    width: 20em;
    margin: 0em auto;
} 

.contenedor-alumnos{
    height: 29em;
    width: 20em;
    margin: 0em auto;
    border: 2px solid #1e355e; 
    justify-content: space-between;
    overflow: hidden;
    display: flex; 
    background-color: white;
}  

.contenedor-imageA{
    height: 15em;
    width: 16em;
    margin: 0em auto;
}  

.botonesS{
    height: 5em;
    width: 10em; 
    margin: 18em 78px; 
    justify-content: space-between;
    overflow: hidden;
    display: flex; 
    position: absolute;
    
}
/* ###################################################### */

.btn-registrar{
    height: 40px;
    width: 15em;  
    background-color: white; 
    border: 1px solid #1e355e; 
    border-radius: 10px;  
    cursor: pointer;
}

.btn-registrar span{
    transition: .4s ease-in-out all;
    position: absolute;
    left: 25%; 
    color: #1e355e; 
    font-size: 0.8rem;
    letter-spacing: 0.2px;
}  

.btn-registrar .icono{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    transition: .3s ease-in-out all;
    opacity: 0;
}  

.btn-registrar:hover .icono{
    left: calc(100% - 50px); 
    opacity: 1;
}

.btn-registrar svg{ 
    color: white;
    width: 25px;
    height: 35px;
} 

.btn-registrar:hover{
    background-color: #1e355e;
}

.btn-registrar:hover span{
    left: 20px; 
    color: white;
}  

.btn-registrar:hover a{
    color: white;
}

.bi {
    margin-top: -9px;
} 

span a{
    color: #fff;
    text-decoration: none;
}

span a:hover {
    text-decoration: none;
    color: #fff;
}





/* ################################################################3*/

.boton_cambiar_contraseña{ 
    padding:4px 30px;
    background:#1e355e;
    border:0;
    outline:none;
    cursor:pointer;
    font-size:16px;
    font-weight:200;
    border-radius:30px;
    color: white;
    transform: translate(400%,-1970%);
} 
.boton_cerrar_sesion{
    padding:3px 52px;
    background:#1e355e;
    border:0;
    outline:none;
    cursor:pointer;
    font-size:17px;
    font-weight:200;
    border-radius:30px;
    color: white;
    transform: translate(408%,-2190%);
}
.input, .btn{
    width: 80%;
    height: 3.125rem;
    font-size: 1em;
    border-radius: 1px #1e355e;
}
.input{
    width: 70%;
    height:11%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
     letter-spacing: 1px;
    box-sizing: border-box;
    transform: translate(30%,100%);
    
}
.boton_guardar{
    width: 70%;
    height:11%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    background-color: #1e355e;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    bottom: 4.5%;
    transform: translate(10%,290%);
    
    
} 
.popup{
    width:300px;
    height:200px;
    background-image: linear-gradient(to top, #1e355e 0%, white 70%);
    border-radius:6px;
    position:absolute;
    top:50px;
    left:50%;
    transform:translate(100%,100%);
    text-align:center;
    padding:0 30px 30px;
    align-items: center;
    visibility:hidden;
    transition: transform 0.4s,top 0.4s;

    
}
.open-popup{
    visibility:visible;
    top:0%;
    transform:translate(-50%,130%);

    

} 

/* ############################################################ */ 

.botonM{
    height: 3em;
    width: 10em; 
    margin: 21em 78px;   
    justify-content: space-between;
    overflow: hidden;
    display: flex; 
    position: absolute;
}

.btn-modificar{
    height: 40px;
    width: 15em;  
    background-color: white; 
    border: 1px solid #1e355e; 
    border-radius: 10px;  
    cursor: pointer;
}

.btn-modificar span{
    transition: .4s ease-in-out all;
    position: absolute;
    left: 25%; 
    color: #1e355e; 
    font-size: 0.8rem;
    letter-spacing: 0.2px;
}  

.btn-modificar .icono{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    transition: .3s ease-in-out all;
    opacity: 0;
}  

.btn-modificar:hover .icono{
    left: calc(100% - 50px); 
    opacity: 1;
}

.btn-modificar svg{ 
    color: white;
    width: 25px;
    height: 35px;
} 

.btn-modificar:hover{
    background-color: #1e355e;
}

.btn-modificar:hover span{
    left: 20px; 
    color: white;
}  

.btn-modificar:hover a {
    color: white;
} 

.bi {
    margin-top: -9px;
} 

span a{
    color: #1e355e;
    text-decoration: none;
}

span a:hover {
    text-decoration: none;
    color: #fff;
} 

/*################################################################3*/

.botonC{
    height: 3em;
    width: 10em; 
    margin: 24em 78px;   
    justify-content: space-between;
    overflow: hidden;
    display: flex; 
    position: absolute;
}

.btn-consultar{
    height: 40px;
    width: 15em;  
    background-color: white; 
    border: 1px solid #1e355e; 
    border-radius: 10px;  
    cursor: pointer;
}

.btn-consultar span{
    transition: .4s ease-in-out all;
    position: absolute;
    left: 25%; 
    color: #1e355e; 
    font-size: 0.8rem;
    letter-spacing: 0.2px;
}  

.btn-consultar .icono{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    transition: .3s ease-in-out all;
    opacity: 0;
}  

.btn-consultar:hover .icono{
    left: calc(100% - 50px); 
    opacity: 1;
}

.btn-consultar svg{ 
    color: white;
    width: 25px;
    height: 35px;
} 

.btn-consultar:hover{
    background-color: #1e355e;
}

.btn-consultar:hover span {
    left: 20px; 
    color: white;
} 

.btn-consultar:hover a {
    color: white;
} 

.bi {
    margin-top: -9px;
} 

span a{
    color: #1e355e;
    text-decoration: none;
}

span a:hover {
    text-decoration: none;
    color: #fff;
}  

/* ############################################################ */ 

.botonesCA{
    height: 5em;
    width: 10em; 
    margin: 18em 78px;  
    justify-content: space-between;
    overflow: hidden;
    display: flex; 
    position: absolute;
    
}

.btn-consultarA{
    height: 40px;
    width: 15em;  
    background-color: white; 
    border: 1px solid #1e355e; 
    border-radius: 10px;  
    cursor: pointer;
}

.btn-consultarA span{
    transition: .4s ease-in-out all;
    position: absolute;
    left: 25%; 
    color: #1e355e; 
    font-size: 0.8rem;
    letter-spacing: 0.2px;
}  

.btn-consultarA .icono{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    transition: .3s ease-in-out all;
    opacity: 0;
}  

.btn-consultarA:hover .icono{
    left: calc(100% - 50px); 
    opacity: 1;
}

.btn-consultarA svg{ 
    color: white;
    width: 25px;
    height: 35px;
} 

.btn-consultarA:hover{
    background-color: #1e355e;
}

.btn-consultarA:hover span{
    left: 20px; 
    color: white;
}  

.btn-consultarA:hover a {
    color: white;
} 

.bi {
    margin-top: -9px;
} 

span a{ 
    color: #1e355e;
    text-decoration: none;
}

span a:hover {
    text-decoration: none;
    color: #fff;
}

/*###################################################*/

.mostrar_usuario{ 
    height: 45px; 
    width: 290px; 
    margin: 0.19em auto;
    border: 1.45px solid #1e355e; 
    border-radius: 10px;  
    
} 

.imagen{ 
    height: 45px; 
    width: 50px;
} 

.texto{
    height: 45px;
    width: 230px; 
}

/* ####################### RESPONSIVE #################################*/ 

@media screen and (max-width: 1000px){
    .logo{ 
        height: 4em;
        width: 12em; 
        border: 2px solid red; 
    } 

    .nombre{ 
        height: 7em;
        width: 50em;
        margin: auto; 
        border: 2px solid orange;
    } 

    h2{
        font-size: 1.2em;
    } 

    .imagen{
        border: 2px solid magenta; 
        height: 40px; 
        width: 45px;
    }
}

